@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=IBM+Plex+Sans+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Asap Condensed', sans-serif;
}

.header-background {
    background-color: rgb(45, 45, 45);
    height: 76px;
    width: 100%;
    display: flex;
    overflow: hidden;
    /* border: 1px solid #f8b030; */
    /* justify-content: space-evenly; */
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    min-width: 960px;
    margin: 0 39px;
    position: relative;
    width: 100%;
    /* border: 1px solid #f8b030; */
}

.header-wrapper > .group {
    padding: 19px 40px 19px 0;
    color: #404040;
    /* border: 1px solid #f8b030; */
}

.header-wrapper > .group2 {
    padding: 19px 40px 19px 0;
    color: #404040;
    margin-left: -200px;;
    /* border: 1px solid #f8b030; */
}

.header-wrapper > .logo {
    letter-spacing: 2px;
    position: relative;
    padding-top: 25px;
    text-align: center;
    /* border: 1px solid #f8b030; */
}

.logo > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f8b030;
    font-weight: bold;
    font-size: 25px;
}

.logo > pre {
    position: absolute;
    /* text-align: center; */
    /* justify-content: center; */
    color: #fff;
    left: -65px;
}

.header-wrapper > .login {
    padding: 22px 20px;
    text-transform: uppercase;
    /* border: 1px solid #f8b030; */
}

.group > a {
    text-decoration: none;
}


.group2 > a {
    text-decoration: none;
}


a > .subtitle {
    color: #f8b030;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    /* border: 1px solid #f8b030; */
}

a > .title {
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.login > a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.search-container > input {
    padding: 6px;
    margin-top: 22px;
    margin-left: 10px;
    font-size: 17px;
    width: 70%;
    border: none;
}

.search-container > button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container > button:hover {
    background: #404040;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slideshow-container > .slider {
    display: none;
    /* border: 1px solid #f8b030; */
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px 30px;
    margin: -50px 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: transparent;
    box-shadow: 1px 1px 5px 1px #cdcdcd;
    border-radius: 50%;
  }  

a > img {
    vertical-align: middle;
}

.slider > .number-text {
    position: absolute;
    color: #f2f2f2;
    font-size: 20px;
    /* padding: 4px 10px; */
    /* border: 1px solid #f8b030; */
    top: 1px;
}
 
.slideshow {
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    /* /* border: 1px solid #000;*/
    justify-content: center;
    width: 100%;
}

.slideshow > .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0px -15px;
    margin-right: 20px;
    background-color: #cdcdcd;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 0px;
    transition: background-color 0.6s ease;
  }
  
.active {
    background-color: #fff;
}

main {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    padding-top: 85px;
    padding-bottom: 150px;
    clear: both;
    text-align: center;
}

main > .content-wrapper {
    max-width: 960px;
    margin-left: 150px;
    margin-top: -50px;
    /* border: 1px solid #f8b030; */
}

.content-wrapper > .content-container {
    max-width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px;
    /* border: 1px solid #f8b030; */
}

.content-container > .title-menu {
    max-width: 100%;
    text-align: center; 
    text-transform: uppercase; 
    font-weight: bold; 
    margin: 26.56px 0;
    color: #8B542F;
    font-size: 20px;
    /* border: 1px solid #f8b030; */
}

.content-container > .clear {
    clear: both;
}

.content-container > .menu-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
}

.menu-box > .card-menu {
    width: 307px;
    height: 308px;
    overflow: hidden;
    background-color: #fff;
	box-shadow: 1px 1px 5px 5px #cdcdcd;
	border-radius: 10px;
    margin: 0px 0px 19.1875px 0px;
    padding: 20px;
    /* border: 1px solid #f8b030; */
}

.menu-box > .card-menu > a {
    text-decoration: none;
    /* border: 2px solid #f8b030; */
}

.menu-box > .card-menu > a > img {
    width: 100%;
    object-fit: cover;
}

.menu-box > .card-menu > a > .nama-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    /* border: 1px solid #f8b030; */
}

.menu-box > .card-menu > a > .nama-menu > .two-column {
    width: 49%;
    /* margin-right: 5px; */
}

.menu-box > .card-menu > a > .nama-menu > .two-column > h3 {
    color: #8B542F;   
    font-size: 21px;
    /* margin-top: 5px; */
    margin-bottom: 5px;
    max-width: 100%;
    display: flex;
    text-align: left;
}

.menu-box > .card-menu > a > .nama-menu > .two-column > button {
    font-size: 16px;
    width: 100%;
    padding: 10px 0px;
    /* margin-top: 5px; */
    border: none;
    border-radius: 5px;
    background-color: #ED792F;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

footer {
    background-color: rgb(45, 45, 45);
    padding: 20px 0;
    text-align: center;
    max-width: 100%;
}

footer > .footer-wrapper {
    max-width: 960px;
    margin-left: 150px;
    /* border: 1px solid #f8b030; */
}

.footer-wrapper > .footer-container {
    /* margin-left: 150px; */
    max-width: 100%;
    position: relative;
    padding: 12px 0;
    /* border: 1px solid #f8b030; */
}

.footer-container > .title {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}

.footer-container > .contact {
    margin-top: 5px;
}

.contact > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .search-container {
      float: none;
    }
    .search-container > input {
      border: 1px solid #ccc;  
    }
    .header-background > .header-wrapper{
        display: none;
    }
    * {
        box-sizing: border-box;
    }
  }